* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}
body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.navbar a {
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}
.navbar a:hover {
  color: white;
}
#logoTech {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  
}
#title {
  font-size: large;
  color: azure;
}

#containerImage {
  width: 80vw;
  height: 300px;
  justify-content: center;
}
#container img {
  width: 350px;
  height: 400px;
  z-index: -455px;
}

footer {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.178);
  text-align: center;
  margin-top: 80px;
}
footer img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
